@import url('https://fonts.googleapis.com/css2?family=Wix+Madefor+Text&display=swap');
$font: 'Wix Madefor Text', sans-serif;

*, *::before, *::after {
    box-sizing: border-box;
}

body, html {
    margin: 0;
    padding: 0;
}

ul {
    list-style-type: none;
    display: flex;
    justify-content: space-evenly;
}

#logo {
    pointer-events: none;
    width: 70px;
    position: absolute;
}

nav {
    padding: 15px;
    background-color: aliceblue;
    user-select: none;
}

a {
    text-decoration: none;
    color: #000;
    font-family: $font;
    font-size: 1.5em;
    transition: 0.3s;
}

a:hover {
    text-shadow: 2px 2px #91ffff;
}