@import url("https://use.typekit.net/zmr3gei.css");
$font1: "myriad-pro", sans-serif;
$font2: "myriad-pro-condensed", sans-serif;

#title {
    font-family: $font1;
    font-style: normal;
    letter-spacing: 2px;
}

#Layer_1 {
    width: 200px;
}