@import url("https://use.typekit.net/zmr3gei.css");
$font1: "myriad-pro", sans-serif;
$font2: "myriad-pro-condensed", sans-serif;

#title {
    font-family: $font1;
    font-style: normal;
    letter-spacing: 2px;
    margin-top: 120px;
    text-align: center;
    font-size: 8vw;
    user-select: none;
}

#Layer_1 {
    width: 600px;
}

.flex {
    display: flex;
    justify-content: center;
}

.filler {
    border: double #000 12px;
    background-color: #fff;
}

#kw {
    width: 170px;
    margin-top: 30px;
}

#int {
    position: relative;
    padding: 15px;
}

#key {
    padding: 15px;
}

#images {
    margin-top: 140px;
    display: flex;
    justify-content: space-evenly;
    position: relative;
}

#int, #key, #kw { 
    box-shadow: 7px 7px 13px 2px rgba(100, 100, 100, 0.2);
}

#schools {
    font-family: $font1;
    font-size: 5vw;
    border-bottom: 12px double #000;
    width: 70vw;
    position: relative;
    left: 100px;
    user-select: none;
}